@page "/"
@inject IPokemonService PokemonService
@attribute [StreamRendering]
@inject NavigationManager NavigationManager
<PageTitle>Pokedex</PageTitle>

<h1>Pokedex</h1>

<p>This is the pokedex main page.</p>

@if (_pokemons == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>
        <label>
            Search for a pokemon:
            <input @oninput="SetFilter" />
        </label>
    </p>
    <div>
        <FluentOverflow>
            <ChildContent>
            @if (_filteredPokemons != null)
            {
                foreach (var pokemon in _filteredPokemons)
                {
                    <FluentOverflowItem >

                        <FluentButton Appearance="@Appearance.Accent" @onclick="() => NavigateToPokemon(pokemon.Name)">@pokemon.Name</FluentButton>
                    </FluentOverflowItem>
                }
            }
                </ChildContent>
        </FluentOverflow>
    </div>
}

@code {
    private void SetFilter(ChangeEventArgs e)
    {
        var filter = (string)(e.Value ?? string.Empty);
        _filteredPokemons = _pokemons?.Where(i => i.Name.Contains(filter)).Take(10);
    }
    
    private void NavigateToPokemon(string name)
    {
        NavigationManager.NavigateTo($"/pokemon/{name}");
    }
    
    private List<PokemonListItem>? _pokemons;
    private IEnumerable<PokemonListItem>? _filteredPokemons;
    protected override async Task OnInitializedAsync()
    {
        _pokemons = (await PokemonService.GetPokemonListAsync()).Results;
        _filteredPokemons = _pokemons.Take(10);
    }

}